@model ITI_MVC.ViewModels.AccountViewModel
@{
    ViewData["Title"] = "Profile";
}

<h2>Your Profile</h2>

<table class="table">
    <tr>
        <th>Username</th>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td>@Model.PhoneNumber</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>@Model.Address</td>
    </tr>
</table>
